* {
  font-family: 'Shadows Into Light', cursive;
  }
  
  body {
    background-color: rgb(28, 28, 36);
  }
#header{
  display: flex;
  justify-content: center;
}

  #logo {
    width: 200px;
  }
  
  #banner {
    width: 92%;
    margin: 50px 4%;
    box-shadow: rgb(255 255 255 / 5%) -5px -5px 10px,
      rgb(0 0 0 / 73%) 5px 5px 10px;
    border-radius: 6px;
    background-image: url("../../assets/images/24932.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .video {
    display: block;
    opacity: 0;
    border-radius: 4px;
    border-bottom: 3px solid rgb(190, 190, 190);
    object-fit: cover;
    width: 100%;
    height: 35vh;
    transition-duration: .5ms;
    transition: opacity 1s;
  }


  #banner:hover .video{
    opacity: 1;
    transition: opacity 1s;
  }
  
  #gallery {
    padding: 0 4%;
    display: grid;
    gap: 3rem 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  }
  
  .pokemon-card {
    border-radius: 8px;
    box-shadow: rgb(255 255 255 / 3%) -5px -5px 10px 2px,
    rgb(0 0 0 / 40%) 5px 5px 10px 2px;
    background-color: urgb(28, 28, 36);
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      color: rgb(255, 255, 255);
  }

  .img-container{
    height: auto;
  }

  .sprite{
    width: 100%;
    height: auto;
  }

  .info-container{
    width: 100%;
  }
  .name{
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline;
    margin-inline: 1rem;
  }

  .pokemon-card:hover{
    box-shadow: none;
    cursor: pointer;
  }
p{
  margin: 0;
  padding: 0;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal-show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal_container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}

.modal_title{
  font-size: 2.5rem;
}

.modal_paragraph{
  margin-bottom: 10px;
}

.modal_img{
  width: 90%;
  max-width: 300px;
}

.modal_close{
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal_close:hover{
  color: #F26250;
  background-color: #fff;
}
